{% macro render_input(name, placeholder, type='text') %}
<div class="control-group">
    <label for="{{name}}" class="control-label">{{placeholder}}</label>
    <div class="controls">
        <input type="{{type}}" name="{{name}}" class="input_xlarge"
        placeholder="{{placeholder}}">
    </div>
</div>
{% endmacro %}


{% macro render_firld(field) %}
    <!-- 1° manera de pasar parametros en lista -->
    <!-- *args -->
    <!-- 2° manexra de pasar parametros en lista/diccionarios -->
    <!-- **kwargs -->
    <div class="control-group">
        <div class="controls">
            {{field.label}}        
            {{field(**kwargs)|safe}}
        </div>
    </div>
    {% if field.errors %}
        <ul>
            {% for error in field.errors %}
                <li style="color:red">
                    {{error}}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}



{% macro CajasDinamicas(name) %}
<div class="control-group">
    <label for="{{name}}" class="control-label">{{name}}</label>
    <div class="controls">
        <input type="number" name="{{name}}" class="input_xlarge" required>
    </div>
</div>
{%endmacro%}



{% macro render_t(field) %}
    <div class="control-group">
        <div class="controls">
            {{field.label}}        
            {{field(**kwargs)|safe}}
        </div>
    </div>
    {% if field.errors %}
        <ul>
            {% for error in field.errors %}
                <li style="color:red">
                    {{error}}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}




{% macro render_firld2(field,f) %}
    <div class="{{f}}">
        <div class="controls">
            {{field.label}}        
            {{field(**kwargs)|safe}}
        </div>
    </div>
    {% if field.errors %}
        <ul>
            {% for error in field.errors %}
                <li style="color:red">
                    {{error}}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}